Django==1.4.2
South==0.7.6
argparse==1.2.1
boto==2.6.0
distribute==0.6.24
dj-database-url==0.2.1
django-appconf==0.5
django-compressor==1.2
django-debug-toolbar==0.9.4
django-extensions==1.0.1
django-social-auth==0.7.10
django-storages==1.1.5
docutils==0.9.1
gunicorn==0.16.1
honcho==0.1.0
httplib2==0.7.7
oauth2==1.5.211
psycopg2==2.4.5
python-openid==2.2.5
pytz==2012h
wsgiref==0.1.2
