{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
  <form class="form-horizontal" method="post" action="{% url auth_password_reset %}">{% csrf_token %}
    <fieldset>
      <legend>{% trans 'Password reset' %}</legend>
      <p>
        {% blocktrans %}
          Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
        {% endblocktrans %}
      </p>
      {{ form|bootstrap }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans 'Password reset' %}</button>
      </div>
    </fieldset>
  </form>
{% endblock content %}
