{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
  <form class="form-horizontal" method="post" action=".">{% csrf_token %}
    <fieldset>
      <legend>{% trans 'Change Password' %}</legend>
      <p>
        {% blocktrans %}
          Please enter your new password twice so we can verify you typed it in correctly.
        {% endblocktrans %}
      </p>
      {{ form|bootstrap }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans 'Change my password' %}</button>
      </div>
    </fieldset>
  </form>
{% endblock content %}
